@use 'variables' as *;
@use 'mixins';

.about-us {
    display: grid;
    grid-template-rows: repeat(2,auto);
    gap: 68px;

    @media (min-width:1000px) {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2,1fr);
        margin-top: 120px;
        gap: 48px;
    }

    &__img {
        overflow: hidden;
        max-width: 430px;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: -20px;

        @media (min-width: 450px) {
            justify-self: center;
            overflow: visible;
        }

        @media (min-width:1400px) {
            max-width: none;
        }
    }

    &__img-man {
        position: relative;
        z-index: 3;
        margin-left: 30px;
        margin-top: 100px;

        @media (min-width:1000px) {
            margin-top: 0;
        }
    }

    &__img-video {
        position: absolute;
        right: 23px;
        top: 503px;
        z-index: 4;
        width: 147px;

        @media (min-width: 700px) {
            top: 503px;
            right: 18px;
        }

        @media (min-width:1000px) {
            top: 389px;
        }

        @media (min-width:1400px) {
            top: 530px;
        }
    }

    &__img-light {
        overflow: hidden;
        position: absolute;
        top: 92px;
        left: -171px;
        z-index: 2;

        @media (min-width:450px) {
            top: 109px;
            right: -145px;
        }

        @media (min-width:1000px) {
            top: 20px;
        }
    }

    &__img-bg {
        position: absolute;
        top: 207px;
        left: 18px;
        z-index: 1;
        width: 300px;

        @media (min-width: 700px) {
            top: 207px;
        }

        @media (min-width:1000px) {
            top: 107px;
        }

        @media (min-width:1400px) {
            top: 126px;
            width: 400px;
        }
    }

    &__content {
        padding-right: 50px;
        align-self: self-end;
    }

    &__caption {
        @include mixins.caption-1-text;
        background: $linear-color;
        background-clip: text;
        color: transparent;
        display: inline-block;
        text-transform: uppercase;
    }

    &__title {
        @include mixins.h5-text;
        color: $white-color;
        margin-top: 12px;

        @media (min-width:1400px) {
            @include mixins.h2-text;
        }
    }

    &__text {
        @include mixins.body-1-text;
        color: $grey-2-color;
        margin-top: 12px;
    }

    &__checklist {
        margin-top: 24px;
    }

    &__checklist-item {
        display: flex;
        gap: 12px;

        &:nth-child(2),
        &:nth-child(3) {
            margin-top: 14px;
        }
    }

    &__checklist-item-img {
        display: flex;
        align-items: center;
    }

    &__checklist-item-text {
        @include mixins.body-3-text;
        color: $white-color;
    }
}

.light2 {
    max-width: none;
    @media (min-width:450px) {
        max-width: 100%;
    }
}