@use 'variables' as *;
@use 'mixins' as mixins;

.our-articles {
    position: relative;
    &__caption {
        margin-top: 200px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
    }


    &__title {
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;

        @media (min-width:1400px) {
            @include mixins.h2-text;
        }
    }

    &__subtitle {
        margin-top: 40px;
        @include mixins.h6-text;
        color: $white-color;

        @media (min-width:1400px) {
            position: relative;
            margin-top: 104px;
            z-index: 2;
        }
    }

    &__light {
        display: none;
        position: absolute;
        top: 238px;
        left: -180px;
        z-index: 1;

        @media (min-width:1400px) {
            display: block;
        }
    }

    &__bg {
        position: absolute;
        top: 775px;
        left: -1010px;

        @media (min-width:700px) {
            top: 783px;
            left: -672px;
        }

        @media (min-width:1000px) {
            top: 749px;
            left: -451px;
        }

        @media (min-width:1400px) {
            top: 500px;
            left: -120px;
        }
    }

    &__wrp {
        @media (min-width:1400px) {
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    .swiper {
        max-width: 636px;
        position: relative;
        z-index: 2;
    }

    &__display {
        position: relative;
        margin-top: 32px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-image: url('/public/images/articles_display.svg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 0 16px 20px 16px;
        min-height: 266px;

        @media (min-width:1400px) {
            width: 636px;
            height: 425px;
            box-sizing: border-box;
            z-index: 2;
        }
    }

    &__display-data-caption {
        @include mixins.caption-2-text;
        color: $white-color;
        background-color: rgba(255, 255, 255, 0.3);
        max-width: fit-content;
        border-radius: 16px;
        padding: 2px 10px;
    }

    &__display-data-title {
        max-width: 264px;
        margin-top: 12px;
        @include mixins.h8-text;
        color: $white-color;

        @media (min-width:700px) {
            max-width: 509px;
        }

        @media (min-width:1400px) {
            @include mixins.h5-text;
        }
    }

    &__display-button {
        background-color: rgba(255, 255, 255, 0.06);
        border: 1px solid;
        border-image: $linear-border-color;
        padding: 16.67px;
        position: absolute;
        bottom: 20px;
        right: 16px;
        z-index: 3;

        @media (min-width:1400px) {
            bottom: 165px;
        }
    }

    &__recent {
        position: relative;
        margin-top: 67px;
        padding: 20px 16px 13px 16px;
        background-color: $black-50-color;
        z-index: 2;

        @media (min-width:1400px) {
            margin-top: 0;
            position: relative;
            top: -68px;
            right: -120px;
            padding: 32px 120px 1px 97px;
            z-index: 1;
        }
    }

    &__recent-title {
        @include mixins.h6-text;
        color: $white-color;
    }

    &__recent-grid {
        display: grid;
        max-height: 504px;
        overflow-y: scroll;

        @media (min-width:1400px) {
            max-height: 536px;
        }
    }

    &__recent-grid-item {
        display: flex;
        gap: 21px;
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid $white-op15-color;

        &:nth-child(4) {
            border-bottom: none;
            padding-bottom: 10px;
        }

        @media (min-width:1400px) {
            width: 513px;
            height: 91px;
        }
    }

    &__recent-grid-item-text {
        max-width: 219px;

        @media (min-width:700px) {
            max-width: none;
        }

        @media (min-width:1400px) {
            max-width: 297px;
        }
    }

    &__recent-grid-item-text-caption {
        @include mixins.caption-2-text;
        color: $white-color;
        background-color: rgba(255, 255, 255, 0.3);
        max-width: fit-content;
        border-radius: 16px;
        padding: 2px 10px;
    }

    &__recent-grid-item-text-value {
        margin-top: 8px;
        @include mixins.h11-text;
        color: $white-color;

        @media (min-width:1400px) {
            @include mixins.h9-text;
        }
    }

    &__recent-grid-item-link {
        display: none;
        align-items: center;

        @media (min-width:1400px) {
            display: flex;
        }
    }

    &__link {
        display: inline-block;
        position: absolute;
        right: 35%;
        margin-top: 32px;
        padding: 18px 38px;
        border: 1px solid;
        border-image: $linear-border-color;
        background-color: $white-op06-color;
        @include mixins.button-1-text;
        color: $white-color;
        text-transform: uppercase;

        @media (min-width:750px) {
            right: 41%;
        }

        @media (min-width:1000px) {
            top: 213px;
            right: 49px;
            margin-top: 0;
        }

        @media (min-width:1400px) {
            top: 223px;
        }
    }
}

:root {
    --swiper-navigation-size: none;
    --swiper-theme-color:none;
}

.swiper-button-next:after {
    content: none;
}

.swiper-button-next {
    top:inherit;
}

.our-articles .swiper {
    max-width: none;

    @media (min-width:1400px) {
        max-width: 636px;
    }
}
