@use 'variables' as *;
@use 'mixins';

.footer {

    &__wrp {
        @media (min-width:1400px) {
            display: flex;
            gap: 177px;
            margin-top: 182px;
        }
    }

    &__contacts {
        margin-top: 92px;
        display: flex;
        gap: 52px;

        @media (min-width:1400px) {
            margin-top: 0;
            flex-direction: column;
            gap: 139px;
        }
    }

    &__contacts-img {
        display: flex;
        align-items: center;
    }

    &__contacts-media {
        display: flex;
        gap: 20px;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;

        @media (min-width:667px) {
            justify-content: space-between;
        }

        @media (min-width:1400px) {
            gap: 86px;
        }
    }

    &__info-links {
        margin-top: 56px;
        display: flex;
        gap: 100px;

        @media (min-width:1400px) {
            margin-top: 0;
            gap:149px;
        }
    }

    &__info-links-quicklinks, &__info-links-support {
        display: grid;
        gap: 16px;
    }

    &__info-links-quicklinks-value-head, &__info-links-support-value-head {
        text-decoration: none;
        @include mixins.h10-text;
        color: $white-color;
    }

    &__info-links-quicklinks-value, &__info-links-support-value {
        text-decoration: none;
        @include mixins.body-1-text;
        color: $white-color;
    }

    &__info-help {
        margin-top: 64px;

        @media (min-width:1400px) {
            margin-top: 0;
        }
    }

    &__info-help-caption {
        @include mixins.h10-text;
        color: $white-color;
    }

    &__info-help-data {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__info-help-data-item {
        display: flex;
        gap: 8px;
    }

    &__info-help-data-item-img {
        display: flex;
        align-items: center;
    }

    &__info-help-data-item-value {
        @include mixins.body-1-text;
        color: $white-color;
    }

    &__copyright {
        position: relative;
        padding: 32px 0 21px 0;
        margin-top: 48px;
        border-top: 1px solid;
        border-image: $linear-border-color;
        display: flex;
        justify-content: center;

        @media (min-width:1400px) {
            margin-top: 33px;
        }
    }

    &__copyright-text {
        @include mixins.body-1-text;
        color: $white-color;
    }

    &__copyright-bg {
        position: absolute;
        bottom: 0;
        left: -16px;

        @media (min-width:1000px) {
            left: -50px;
        }
        
        @media (min-width:1400px) {
            left: -120px;
        }
    }

    &__form-sub {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 182px;
        padding: 31px 13px;
        background: $linear-color;
        border-radius: 4px;
        z-index: 2;

        @media (min-width:1000px) {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
            padding: 38px 74px 31px 74px;
        }

        @media (min-width:1400px) {
            margin-top: 120px;
        }
    }

    &__form-sub-caption {
        @include mixins.h6-text;
        color: $white-color;
        text-align: center;
        max-width: 520px;

        @media (min-width:1000px) {
            text-align: start;
        }
    }

    &__form-sub-input {
        padding: 3px 3.67px 3.67px 14px;
        display: flex;
        background-color: $white-op07-color;
    }

    &__form-sub-input-img {
        align-self: center;
        margin-right: 8px;
    }

    &__form-sub-input-field {
        border: none;
        background-color: transparent;
        @include mixins.body-3-text;
        color: $white-color;
        margin-right: 84px;
        width: 182px;
        
        &::placeholder {
            color: $white-color;
        }
    }

    &__form-sub-input-button {
        padding: 16.67px;
        background-color: $white-op21-color;
    }

    &__form {
        position: relative;
    }

    &__form-bg {
        display: none;
        position: absolute;
        z-index: 1;
    }
}