@use 'variables' as *;
@use 'mixins' as mixins;

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__caption {
        margin-top: 100px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
    }

    &__title {
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
        text-align: center;
    }

    &__video {
        margin-top: 32px;
    }
}