@use 'variables' as *;
@use 'mixins' as mixins;

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__caption {
        margin-top: 100px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
    }

    &__title {
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
        text-align: center;
    }

    &__video {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-image: url('/public/images/get-started_video.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 22px 16px 20px 16px;
        margin-top: 32px;
        box-sizing: border-box;
        min-height: 254px;
        border-radius: 10px
    }

    &__video-data-title {
        @include mixins.caption-2-text;
        color: $white-color;
        background-color: rgba(255, 255, 255, 0.3);
        max-width: fit-content;
        border-radius: 16px;
        padding: 2px 10px;
    }

    &__video-data-desc {
        @include mixins.h8-text;
        color: $white-color;
        margin-top: 12px;
    }

    &__video-play {
        position: absolute;
        background: none;
        top: 42%;
        right: 45%;
        padding: 0;
    }

    &__video-bar {
        display: flex;
        gap: 12px;
    }

    &__video-bar-line {
        display: flex;
        align-items: center;
    }
}