@use 'variables' as *;
@use 'mixins' as mixins;

.get-started {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__caption {
        margin-top: 100px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
        
        @media (min-width:1000px) {
            margin-top: 0;
        }

        @media (min-width:1400px) {
            margin-top: 250px;
        }
    }

    &__title {
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
        text-align: center;

        @media (min-width:1400px) {
            @include mixins.h2-text;
            max-width: 800px;
        }
    }

    &__video {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-image: url('/public/images/get-started_video2.svg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 22px 16px 20px 16px;
        margin-top: 32px;
        box-sizing: border-box;
        min-height: 254px;
        border-radius: 10px;

        @media (min-width:1000px) {
            height: 400px;
        }

        @media (min-width:1300px) {
            height: 522px;
            margin-top: 48px;
        }
        
    }

    &__video-data-title {
        @include mixins.caption-2-text;
        color: $white-color;
        background-color: rgba(255, 255, 255, 0.3);
        max-width: fit-content;
        border-radius: 16px;
        padding: 2px 10px;
    }

    &__video-data-desc {
        @include mixins.h8-text;
        color: $white-color;
        margin-top: 12px;
    }

    &__light {
        display: none;
        position: absolute;
        z-index: 1;
        top: 101px;
        left: -279px;

        @media (min-width:1400px) {
            display: block;
        }
    }

    &__video-play {
        position: absolute;
        background: none;
        top: 42%;
        right: 45%;
        padding: 0;
        width: 40px;
        
        @media (min-width:700px) {
            right: 47%;
        }

        @media (min-width:1000px) {
            top: 41%;
            width: 70px;
            right: 45%;
        }

        @media (min-width:1300px) {
            width: 100px;
        }
    }

    &__video-bar {
        display: flex;
        gap: 12px;
    }

    &__video-bar-line {
        display: flex;
        align-items: center;
    }

    &__button {
        margin-top: 48px;
    }
}