@use 'variables' as *;
@use 'mixins' as mixins;

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;

    &__effect {
        z-index: 1;
        opacity: 90%;
        position: absolute;
        top: 0;
        right: 0;

        @media (min-width:1300px) {
            right: -70px;
        }
    }

    &__logo {
        text-decoration: none;
    }

    &__burger {
        position: relative;
        background-color: transparent;
        padding: 0;
        z-index: 4;
        @media (min-width:760px) {
            display: none;
        }
    }

    &__nav {
        position: relative;
        z-index: 2;
        display: none;
        gap: 64px;

        @media (min-width:760px) {
            display: flex;
        }

        @media (max-width: 759px) {
            margin-top: 75px;
            position: fixed;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            top: 0;
            right: 10px;
            height: 190px;
            width: fit-content;
            z-index: 3;
            gap: 10px;
            overflow-y: auto;
            padding: 16px;
            background-color: $black-50-op81-trnp3-color;
            border-radius: 10px;

            &.open2 {
                display: flex;
            }
        }
    }


    &__nav-item {
        @include mixins.body-1-text;
        color: $white-color;
        display: flex;
        gap: 4px;
        text-decoration: none;

        &-img {
            display: flex;
            align-items: center;
        }

        &:nth-child(1) {
            @include mixins.body-1-1-text;
        }
    }

    &__link {
        display: none;
        @include mixins.button-2-text;
        color: $white-color;
        padding: 12px 24px;
        background: transparent;
        border: 1px solid;
        border-image: $linear-border-color;
        z-index: 2;
        text-decoration: none;
        
        @media (min-width:1023px) {
            display: block;
        }
    }
}

