@use 'variables' as *;

.hero {
    
    &__main {
        @media (min-width:1000px) {
            display: flex;
        }
    }

    &__main-text-title {
        font-family: $heading-2-font;
        font-size: $heading-2-size;
        line-height: $heading-2-lh;
        color: $white-color;
        margin-top: 80px;
    }

    &__main-text-subtitle {
        font-family: $body-1-font;
        font-size: $body-1-size;
        line-height: $body-1-lh;
        color: $grey-2-color;
        margin-top: 12px;
    }

    &__main-text-button {
        display: inline-block;
        font-family: $button-1-font;
        font-size: $button-1-size;
        line-height: $button-1-lh;
        color: $white-color;
        text-transform: uppercase;
        padding: 18px 38px;
        background: $linear-color;
        margin-top: 32px;
    }

    &__main-text-clients {
        margin-top: 32px;
        display: flex;
        gap: 18px;

        @media (min-width:100px) {
            margin-bottom: 105px;
        }
    }

    &__main-text-clients-count {
        align-self: center;
        position: relative;
    }

    &__main-text-clients-caption {
        font-family: $body-1-font;
        font-size: $body-1-size;
        line-height: $body-1-lh;
        color: $grey-2-color;

        &--fat {
        font-family: $heading-10-font;
        color: $white-color;
        }
    }

    &__main-text-clients-underline {
        position: absolute;
        top: 19px;
        left: -6px;
    }

    &__main-display {
        z-index: 2;
        overflow: hidden;
        max-width: 700px;
        min-height: 422px;
        position: relative;
        display: flex;

        @media (min-width: 650px) {
            overflow: visible;
        }
    }

    &__main-display-video {
        position: absolute;
        top:145px;
        left: 16px;
        z-index: 4;

        @media (min-width:1000px) {
            top: 302px;
            left: 0;
        }
    }

    &__main-display-photo {
        position: absolute;
        right: -115px;
        z-index: 3;

        @media (min-width:650px) {
            right: 0;
        }

        @media (min-width: 1000px) {
            position: relative;
            bottom: -57px;
        }
    }

    &__background {
        position: absolute;
        top: 290px;
        z-index: 1;
    }

    &__main-display-light {
        position: absolute;
        top:-20px;
        z-index: 2;
    }

    &__grid {
        position: relative;
        background-color: $black-50-color;
        padding: 36px;
        display: grid;
        grid-template-areas: 
        "Expertise"
        "Customization"
        "Service";
        gap: 50px;
        z-index: 2;
    }

    &__item-img {
        margin-bottom: 42px;
    }

    &__item-title {
        font-family: $heading-7-font;
        font-size: $heading-7-size;
        line-height: $heading-7-lh;
        color: $white-color;
    }

    &__item-text {
        margin-top: 12px;
        font-family: $body-2-font;
        font-size: $body-2-size;
        line-height: $body-2-lh;
        color: $grey-1-color;
    }
}

.grid-item-expertise {
    grid-area: Expertise;
}

.grid-item-customization {
    grid-area: Customization;
}

.grid-item-service {
    grid-area: Service;
}

.light {
    max-width: none;
    @media (min-width:500px) {
        max-width: 100%;
    }
}