@use 'variables' as *;
@use 'mixins' as mixins;

.hero {
    
    &__main {
        display: grid;
        @media (min-width:1000px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__main-text-title {
        max-width: 540px;
        @include mixins.h2-text;
        color: $white-color;
        margin-top: 80px;

        @media (min-width:1400px) {
            @include mixins.h1-text;
            max-width: 540px;
        }
    }

    &__main-text-subtitle {
        @include mixins.body-1-text;
        color: $grey-2-color;
        margin-top: 12px;
        max-width: 446px;
    }

    &__main-text-button {
        display: inline-block;
        @include mixins.button-1-text;
        color: $white-color;
        text-transform: uppercase;
        padding: 18px 38px;
        background: $linear-color;
        margin-top: 32px;
    }

    &__main-text-clients {
        position: relative;
        margin-top: 32px;
        display: flex;
        gap: 18px;

        @media (min-width:100px) {
            margin-bottom: 105px;
        }
    }

    &__main-text-clients-count {
        align-self: center;
        position: relative;
    }

    &__main-text-clients-caption {
        @include mixins.body-1-text;
        color: $grey-2-color;

        &--fat {
        font-family: $heading-10-font;
        color: $white-color;
        }
    }

    &__main-text-clients-underline {
        position: absolute;
        top: 19px;
        left: -6px;
    }

    &__main-text-clients-video {
        display: none;
        position: absolute;
        z-index: 4;
        top: -33px;
        right: 37px;
        
        @media (min-width:1400px) {
            display: block;
        }
    }

    &__main-display {
        z-index: 2;
        overflow: hidden;
        max-width: 700px;
        min-height: 422px;
        position: relative;
        display: flex;

        @media (min-width: 650px) {
            overflow: visible;
        }

        @media (min-width:1000px) {
            top: -61px;
            overflow-x: clip;
            padding-left: 172px;
            margin-left: -172px;
        }
    }

    &__main-display-video {
        position: absolute;
        top:145px;
        left: 16px;
        z-index: 4;

        @media (min-width:1000px) {
            top: 400px;
            left: 65px;
        }

        @media (min-width:1400px) {
            display: none;
        }
    }

    &__main-display-photo {
        width: 354px;
        position: absolute;
        right: -115px;
        z-index: 3;

        @media (min-width:650px) {
            right: 0;
        }

        @media (min-width: 1000px) {
            width: 526px;
            position: relative;
            bottom: -61px;
        }

        @media (min-width:1400px) {
            right: -78px;
        }
    }

    &__background {
        position: absolute;
        top: 290px;
        left: -679px;
        z-index: 1;

        @media (min-width:700px) {
            left: -367px;
        }

        @media (min-width:1000px) {
            left:-89px;
            top: 290px;
        }

        @media (min-width:1400px) {
            left: 0;
            top: 237px;
        }
    }

    &__main-display-light {
        position: absolute;
        top:-20px;
        z-index: 2;

        @media (min-width:1000px) {
            left: 25px;
            top: 180px;
        }

        @media (min-width:1400px) {
            left: 46px;
            top: 93px;
        }
    }

    &__grid {
        position: relative;
        background-color: $black-50-color;
        padding: 36px;
        display: grid;
        grid-template-areas: 
        "Expertise"
        "Customization"
        "Service";
        gap: 50px;
        z-index: 2;

        @media (min-width: 1000px) {
            grid-template-areas: 
            "Expertise Customization Service";
            padding: 42px 64px 53px 64px;
        }

    }

    &__grid-item-img {
        margin-bottom: 42px;
    }

    &__grid-item-title {
        @include mixins.h7-text;
        color: $white-color;
    }

    &__grid-item-text {
        margin-top: 12px;
        @include mixins.body-2-text;
        color: $grey-1-color;
    }
}

.grid-item-expertise {
    grid-area: Expertise;
}

.grid-item-customization {
    grid-area: Customization;
}

.grid-item-service {
    grid-area: Service;
}

.light {
    max-width: none;
    @media (min-width:500px) {
        max-width: 100%;
    }
}