@use 'variables' as *;
@use 'mixins' as mixins;

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__caption {
        margin-top: 100px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;

        @media (min-width:1400px) {
            margin-top: 200px;
        }
    }

    &__title {
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
        text-align: center;

        @media (min-width:1400px) {
            @include mixins.h2-text;
        }
    }

    &__img {
        overflow: hidden;
        position: relative;
        padding-bottom: 160px;
        margin-bottom: -160px;

        @media (min-width:700px) {
            padding-bottom: 190px;
            margin-bottom: -190px;
        }

        @media (min-width:1000px) {
            padding-bottom: 300px;
            margin-bottom: -180px;
        }

        @media (min-width:1400px) {
            margin-top: 58px;
        }
    }

    &__img-light {
        position: absolute;
        top: 91px;
        right: -28px;
        z-index: 3;

        @media (min-width:1000px) {
            top: 157px;
        }
    }

    &__img-sircle {
        position: absolute;
        width: 180px;
        bottom: 82px;
        right: 125px;
        z-index: 2;

        @media (min-width:700px) {
            width: 330px;
            right: 220px;
            bottom: 44px;
        }

        @media (min-width:1000px) {
            width: 425px;
            right: 299px;
            bottom: 123px;
        }
    }

    &__img-bg {
        margin-top: 24px;
        z-index: 1;
    }

    &__img-man {
        position: absolute;
        z-index: 4;
        width: 280px;
        top: 102px;
        right: 75px;

        @media (min-width:700px) {
            width: 500px;
            top: 172px;
            right: 135px;
        }

        @media (min-width:1000px) {
            width: 670px;
            top: 202px;
            right: 178px;
        }

        @media (min-width:1400px) {
            top: 216px;
            right: 177px;
        }
    }
}