@use 'variables' as *;
@use 'mixins' as mixins;

.pricing {
    position: relative;

    @media (min-width:1000px) {
        padding-bottom: 200px;
        margin-bottom: -200px;
    }

    @media (min-width:1400px) {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    &__caption {
        margin-top: 100px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
    }

    &__title {
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
    }

    &__text {
        margin-top: 16px;
        @include mixins.body-1-text;
        color: $grey-2-color;
    }

    &__display {
        position: relative;
        margin-top: 47px;
        padding: 32px 22px 0 22px;
        background-color: $black-50-op81-trnp2-color;
        z-index: 2;

        @media (min-width:1000px) {
            display: flex;
        }
    }

    &__display-grid {
        position: relative;
        border-bottom: 1px solid $white-op10-color;
        padding-bottom: 48px;
        display: grid;
        gap: 32px;
        z-index: 2;

        @media (min-width:1000px) {
            width: 70%;
            border-bottom: none;
            border-right: 1px solid $white-op10-color;
            padding-right: 20px;
        }
    }

    &__display-grid-item {
        display: flex;
        gap: 16px;
    }

    &__display-grid-item-img {
        width: 42px;
        height: 42px;
    }

    &__display-grid-item-text-title {
        @include mixins.h9-text;
        color: $white-color;
    }

    &__display-grid-item-text-value {
        margin-top: 12px;
        @include mixins.body-3-text;
        color: $grey-1-color;

        @media (min-width:1400px) {
            max-width: 582px;
        }
    }

    &__display-light {
        position: absolute;
        bottom: 0px;
        left: -91px;
        z-index: 1;
        @media (min-width:750px) {
            bottom: -88px;
            left: -150px;
        }

        @media (min-width:1000px) {
            left: 124px;
            bottom: 186px;
        }

        @media (min-width:1400px) {
            left: 123px;
            bottom: -118px;
        }
    }

    &__display-void {
        position: relative;
        min-height: 407px;
        z-index: 2;
        margin-bottom: 90px;
    }

    &__display-void-man {
        position: absolute;
        right: -23px;
        bottom: 0;
        
        @media (min-width:1000px) {
            right: -265px;
            bottom: -89px;
        }

        @media (min-width:1400px) {
            right: -349px;
        }
    }

    &__banner {
        min-width: 321px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 70px 18px 70px;
        background-color: $black-50-color;
        border: 1px solid;
        border-image: $linear-border-color;
        position: absolute;
        left: -6px;
        bottom: -88px;

        @media (min-width:1000px) {
            left: -159px;
            bottom: -283px;
        }

        @media (min-width:1400px) {
            bottom: -140px;
            left: -89px;
        }
    }

    &__banner-caption {
        @include mixins.caption-2-text;
        color: $grey-2-color;
    }

    &__banner-price {
        @include mixins.price-1-text;
        color: $white-color;
    }

    &__banner-link {
        text-decoration: none;
        margin-top: 14px;
    }

    &__banner-info {
        margin-top: 14px;
        @include mixins.body-4-text;
        color: $grey-1-color;
    }

}

