@use 'variables' as *;
@use 'mixins' as mixins;


.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__caption {
        margin-top: 100px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
    }

    &__title {
        max-width: 400px;
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
        text-align: center;
    }

    &__img {
        margin-top: 29px;
    }
}