@use 'variables' as *;
@use 'mixins' as mixins;


.testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__caption {
        margin-top: 100px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
        
        @media (min-width:1000px) {
            position: absolute;
            margin-top: 0;
            top: 211px;
        }

        @media (min-width:1400px) {
            top: 191px;
        }
    }

    &__title {
        max-width: 400px;
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
        text-align: center;

        @media (min-width:1000px) {
            position: absolute;
            margin-top: 0;
            max-width: none;
            top: 244px;
        }

        @media (min-width:1400px) {
            top: 222px;
        }
    }

    &__img {
        margin-top: 29px;
        overflow: hidden;
        position: relative;

        @media (min-width:1000px) {
            margin-top: 100px;
        }
    }

    &__img-bg {
        position: relative;
        width: 100%;
        height: 1007px;
        object-fit: cover;
        z-index: 1;

        @media (min-width:1000px) {
            display: none;
        }
    }

    &__img-bg2 {
        position: relative;
        width: 100%;
        height: 1007px;
        object-fit: cover;
        z-index: 1;
        display: none;

        @media (min-width:1000px) {
            display:block;
        }
    }

    &__img-man {
        position: absolute;
        top: 262px;
        right: -40px;
        z-index: 3;
        @media (min-width:750px) {
            right: 129px;
        }

        @media (min-width:1000px) {
            right: 248px;
            top: 278px;
        }
    }

    &__img-light {
        overflow: hidden;
        position: absolute;
        top: 186px;
        left: -251px;
        z-index: 2;
        @media (min-width:750px) {
            left: -119px;
        }

        @media (min-width:1000px) {
            top: 149px;
            left: 41px;
        }
    }
}