@use 'variables' as *;
@use 'mixins' as mixins;


.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__caption {
        margin-top: 100px;
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
    }

    &__title {
        max-width: 400px;
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
        text-align: center;
    }

    &__img {
        overflow: hidden;
        position: relative;
    }

    &__img-bg {
        width: 430px;
        height: 1007px;
        object-fit: cover;
        z-index: 1;
    }   

    &__img-man {
        position: absolute;
        top: 262px;
        right: -40px;
        z-index: 3;
    }

    &__img-light {
        overflow: hidden;
        position: absolute;
        top: 186px;
        left: -251px;
        z-index: 2;
    }
}