@use 'variables' as *;
@use 'mixins' as mixins;

.choose-us {

    &__wrp {
        @media (min-width:1000px) {
            margin-top: 150px;
            display: grid;
            overflow: hidden;
            gap: 50px;
            margin-bottom: 50px;
            grid-template-columns: auto auto;
        }

        @media (min-width:1400px) {
            margin-top: 283px;
            gap: 0;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 100px;
            margin-bottom: -100px;
        }
    }

    &__img {
        overflow: hidden;
        position: relative;
        max-width: 430px;
        @media (min-width:450px) {
            justify-self: center;
            overflow: visible;
        }
    }

    &__img-man {
        position: relative;
        max-height: 475px;
        margin-top: 100px;
        margin-bottom: 100px;
        z-index: 3;
        @media (min-width:1000px) {
            top: -103px;
            margin-bottom: 0;
        }

        @media (min-width:1400px) {
            width: 563px;
        }
    }

    &__img-video {
        position: absolute;
        bottom: 49px;
        right: 70px;
        z-index: 4;
        width:146px;

        @media (min-width:700px) {
            bottom: -52px;
        }

        @media (min-width:1000px) {
            bottom: 79px;
        }

        @media (min-width:1400px) {
            bottom: -102px;
            right: 0;
        }
    }

    &__img-light {
        position: absolute;
        top: 40px;
        right: -142px;
        z-index: 2;

        @media (min-width:1000px) {
            top: -24px;
            right: -172px;
        }

        @media (min-width:1400px) {
            top: 100px;
        }
    }

    &__img-bg {
        position: absolute;
        z-index: 1;
        top: 237px;
        left: 50px;
        width: 296px;

        @media (min-width:700px) {
            top: 137px;
        }

        @media (min-width:1000px) {
            top: 105px;
        }

        @media (min-width:1400px) {
            top: 187px;
            width: auto;
        }
    }

    &__text-caption {
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
    }

    &__text-title {
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;

        @media (min-width:1400px) {
            @include mixins.h2-text;
        }
    }

    &__expandable {
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-top:32px;
    }

    &__expandable-item-title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        border-bottom: 1px solid $white-color;

    }

    &__expandable-item-title-text {
        @include mixins.h8-text;
        color: $white-color;
    }

    &__expandable-item-text {
        @include mixins.body-3-text;
        color: $grey-2-color;
        margin-top: 12px;
    }
}

@media (min-width: 1000px) {
    .grid-choose-us-text  { order: 1; }
    .grid-choose-us-img   { order: 2; }
}