@use 'variables' as *;
@use 'mixins' as mixins;

.choose-us {

    &__img {
        overflow: hidden;
        position: relative;
        max-width: 430px;
        @media (min-width:450px) {
            justify-self: center;
            overflow: visible;
        }
    }

    &__img-man {
        position: relative;
        max-height: 475px;
        margin-top: 100px;
        margin-bottom: 100px;
        z-index: 3;
    }

    &__img-video {
        position: absolute;
        bottom: 55px;
        right: 70px;
        z-index: 4;

        @media (min-width:450px) {
            bottom: -46px;
        }
    }

    &__img-light {
        position: absolute;
        top: 40px;
        right: -142px;
        z-index: 2;
    }

    &__img-bg {
        position: absolute;
        z-index: 1;
        top: 223px;
        left: 50px;

        @media (min-width:450px) {
            top: 123px;
        }
    }

    &__text-caption {
        @include mixins.caption-1-text;
        @include mixins.gradient-text;
        text-transform: uppercase;
    }

    &__text-title {
        margin-top: 12px;
        @include mixins.h5-text;
        color: $white-color;
    }

    &__expandable {
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-top:32px;
    }

    &__expandable-item-title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        border-bottom: 1px solid $white-color;

    }

    &__expandable-item-title-text {
        @include mixins.h8-text;
        color: $white-color;
    }

    &__expandable-item-text {
        @include mixins.body-3-text;
        color: $grey-2-color;
        margin-top: 12px;
    }
}