@use 'variables' as *;
@use 'mixins' as mixins;

.choose-us {

    &__img {
        position: relative;
        margin-top: 100px;
    }

    &__img-video {
        position: absolute;
        bottom: 75px;
        right: 50px;
    }

    &__text {
        margin-top: 48px;
    }
}