@use 'reset';
@use 'variables' as *;
@use 'header';
@use 'hero';
@use 'about-us';
@use 'our-service';
@use 'why-choose-us';
@use 'get-started';
@use 'testimonial';
@use 'pricing';
@use 'partners';
@use 'articles';
@use 'footer';

body {
    background-color: $black-100-color;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width:1000px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.special-container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width:1000px) {
        padding-left: 50px;
        padding-right: 0;
    }

    @media (min-width:1400px) {
        padding-left: 120px;
    }
}

.special-container2 {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width:1000px) {
        padding-left: 0px;
        padding-right: 0;
    }

    @media (min-width:1400px) {
        padding-right: 120px;
    }
}

.special-container3 {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width:1000px) {
        padding-left: 50px;
        padding-right: 0;
    }

    @media (min-width:1400px) {
        padding-left: 120px;
        max-width: 548px;
        margin-top: 94px;
    }
}

img.special-img {
    max-width: none;
}


