@use 'reset';
@use 'variables' as *;
@use 'header';
@use 'hero';
@use 'about-us';
@use 'our-service';
@use 'why-choose-us';
@use 'get-started';
@use 'testimonial';
@use 'pricing';
@use 'partners';
@use 'articles';
@use 'footer';

body {
    background-color: $black-100-color;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.special-container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
}

img.special-img {
    max-width: none;
}


